@import "tailwindcss";
body{
  background-image: url("../public/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1800px) {
  body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    
  }
}